.board {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.line {
    display: flex;
    gap: 6px;
}

.tile {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #9f9f9f;
    border-radius: 8px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.correct {
    background-color: #1ba94c;
}
.incorrect {
    background-color: tomato;
}
.close {
    background-color: #9f9f9f;
}